img.my_image{
  border-radius: 10px;
   opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.my_info{
	margin-left:15%;
	font-weight: normal;
}

img.my_head{
	width: 100%;
  border-radius: 10px;
  margin-top:20px;
}

.container:hover .image {
  opacity: 0.3;
}

.row-sm-6 img.my_image:hover {
    opacity: 0.5;
}

.my_navbar_color{
  background-color:#F4F4F4;
  box-shadow: 3px 3px 3px #888888;
  border-style: solid;
  border-top-color: #888888;
  border-width: 3px;


}